@import 'colors';
@import 'variables';


#auth .btn {
    background-color: white;
    border-color: white;
}

.googleButton {
	background: url(../images/google-sign-in.png);
	width: 33%;
	height: 10%;
	// border: 2.5px solid #4688f1;
	border-radius: 5px;

	&:hover {
		box-shadow: $boxShadow;
	}
}

.contactCard {
	background-color: lightslategray;
	text-align: center;
	height: 350px;
	margin: 10px;

	.contactImage {
		width: 50%;
		border-radius: 50%;
		border: 2px solid black;
		margin-top: 5px;
	}			

	.card {
		margin: auto;

		.email {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}