<div class="text-center" id="new">
    <h1>New Contact</h1>
</div>
 <div class="col-md-offset-1">  
    <fieldset class="container">
        <legend class="col-md-2 control-label" >Name</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
                    </div>
                </div>
            </fieldset>
    </fieldset>

      
    <fieldset class="container">
        <legend class="col-md-2 control-label" >About</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input name="last_name" placeholder="Title" class="form-control"  type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        <input name="last_name" placeholder="Company" class="form-control"  type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-github"></i></span>
                        <input name="website" placeholder="Link to GitHub Profile" class="form-control" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                        <input name="website" placeholder="Link to LinkedIn Profile" class="form-control" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-picture-o" ></i></span>
                        <input name="website" placeholder="Image Link" class="form-control" type="text">
                    </div>
                </div>
        </fieldset>
    </fieldset>
    

    <fieldset class="container">
        <legend class="col-md-2 control-label" >Contact</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input name="address" placeholder="Street Address" class="form-control" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input name="city" placeholder="City" class="form-control"  type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <select name="state" class="form-control selectpicker" >
                            <option value=" " >Select State</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option >Arizona</option>
                            <option >Arkansas</option>
                            <option >California</option>
                            <option >Colorado</option>
                            <option >Connecticut</option>
                            <option >Delaware</option>
                            <option >District of Columbia</option>
                            <option> Florida</option>
                            <option >Georgia</option>
                            <option >Hawaii</option>
                            <option >daho</option>
                            <option >Illinois</option>
                            <option >Indiana</option>
                            <option >Iowa</option>
                            <option> Kansas</option>
                            <option >Kentucky</option>
                            <option >Louisiana</option>
                            <option>Maine</option>
                            <option >Maryland</option>
                            <option> Mass</option>
                            <option >Michigan</option>
                            <option >Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option> Uttah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option >Washington</option>
                            <option >West Virginia</option>
                            <option>Wisconsin</option>
                            <option >Wyoming</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
                    </div>
                </div>
        </fieldset>
    </fieldset>
      
    <div class="container">     
        <div class="row">
            <div class="col-md-offset-3">
                <button type="save" class="btn btn-warning" >Save Contact</button>
            </div>
        </div>
    </div>
</div>
