<div class="text-center" id="new">
    <h1>New Contact</h1>
</div>

<div class="col-md-offset-1"> 

    <fieldset class="container">
        <legend class="col-md-2 control-label" >Name</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input  name="first_name" placeholder="First Name" class="form-control"  type="text" ng-model="contact.first_name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input name="last_name" placeholder="Last Name" class="form-control"  type="text" ng-model="contact.last_name">
                    </div>
                </div>
            </fieldset>
    </fieldset>


    <fieldset class="container">
        <legend class="col-md-2 control-label" >Contact</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text" ng-model="contact.email">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                        <input name="cell_phone" placeholder="(845)555-1212" class="form-control" type="text" ng-model="contact.cell_phone">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input name="location" placeholder="City, State" class="form-control" type="text" ng-model="contact.location">
                    </div>
                </div>
        </fieldset>
    </fieldset>

      
    <fieldset class="container">
        <legend class="col-md-2 control-label" >About</legend> 
            <fieldset class="form-group text-center">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                        <select name="category" class="form-control selectpicker" ng-model="contact.category">
                           <option value=" " >Select Category</option>
                           <option>Family</option>
                           <option>Friend</option>
                           <option>Acquaintance</option>
                           <option>Colleague</option>
                           <option>Mentor</option>
                           <option>Manager/Supervisor</option>
                           <option>Classmate</option>
                           <option>Teacher</option>
                           <option>Client</option>
                           <option>Other</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                        <input name="title" placeholder="Title" class="form-control"  type="text" ng-model="contact.title">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        <input name="company" placeholder="Company" class="form-control"  type="text" ng-model="contact.company">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-github"></i></span>
                        <input name="github_link" placeholder="Link to GitHub Profile" class="form-control" type="text" ng-model="contact.github_link">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                        <input name="linkedin_link" placeholder="Link to LinkedIn Profile" class="form-control" type="text" ng-model="contact.linkedin_link">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-picture-o" ></i></span>
                        <input name="image" placeholder="Image Link" class="form-control" type="text" ng-model="contact.image">
                    </div>
                </div>
        </fieldset>
    </fieldset>
    

    <div class="container">     
        <div class="row">
            <div class="col-md-offset-3">
                <button type="save" class="btn btn-warning" ng-click="addNewContact(uid)">Save Contact</button>
            </div>
        </div>
    </div>


</div>
