<div class="text-center" id="view">
    <h1>My Contacts</h1>

    <div id="contacts" class="col-md-offset-2">
        <div class="col-sm-6 col-md-3 contactCard" ng-repeat="contact in contacts">
            
            
    <div class="card" style="width: 20rem;">
        <div>
            <img class="contactImage" ng-src="{{contact.image}}">
        </div>
            <p>- {{contact.category}} -</p>
              <h4 class="contactHeader">{{contact.first_name}} {{contact.last_name}}</h4>
              <h5 class="contactSubheader">{{contact.title}} at {{contact.company}}</h5>
            
                <p>{{contact.cell_phone}}</p>
                <p class="email">{{contact.email}}</p>
                <p>{{contact.location}}</p>

            <div class="card-block">
                <button class="btn btn-default delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash"></i></button>
                <button class="btn btn-default star" ng-if="contact.favorite" ng-click="makeNotFavorite(contact, contactId)" ><i class="fa fa-star" aria-hidden="true"></i></button>
                <button class="btn btn-default star" ng-if="!contact.favorite" ng-click="makeFavorite(contact, contactId)" ><i class="fa fa-star-o" aria-hidden="true"></i></button>
                <button class="btn btn-default edit" ng-click="editContact(contact.id)" ><i class="fa fa-pencil" aria-hidden="true"></i></i></button>
        </div>    

            
        </div>
    </div>
</div>

