<div class="text-center" id="view">
    <h1>My Contacts</h1>
    <div id="contacts" class="col-md-offset-2">
        <div class="col-sm-6 col-md-3 contactCard" ng-repeat="contact in contacts">
            
            
    <div class="card" style="width: 20rem;">
            <div class="card-block">
              <h3 class="contactHeader">{{contact.first_name}} {{contact.last_name}}</h3>
              <p>- {{contact.category}} -</p>
              <h4 class="contactSubheader">{{contact.title}} at {{contact.company}}</h4>
            </div>
            
            <div class="card-block">
                <p class="list-group-item">{{contact.cell_phone}}</p>
                <p class="list-group-item email">{{contact.email}}</p>
                <p class="list-group-item">{{contact.location}}</p>
            </div>

            <div class="card-block">
                <button class="btn btn-default delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash"></i></button>
            </div>
        </div>    

            
        </div>
    </div>
</div>

