#auth .btn {
  background-color: white;
  border-color: white; }

.googleButton {
  background: url(../images/google-sign-in.png);
  width: 33%;
  height: 10%;
  border-radius: 5px; }
  .googleButton:hover {
    box-shadow: 0 0 20px #FBBC05; }

.contactCard {
  background-color: lightslategray;
  text-align: center;
  height: 350px;
  margin: 10px; }
  .contactCard .card {
    margin: auto; }
    .contactCard .card .email {
      overflow: hidden;
      text-overflow: ellipsis; }
